<nav class="navbar navbar-default text-center">
    <img src="assets/images/logo.png">
</nav>

<h4 class="text-center">
    <a href="https://tpid.wpengine.com/">&larr; Back to Dallas TPID Website</a>
</h4>
